---
import BaseLayout from "./BaseLayout.astro";
import Tag from "../components/Tag.astro";
import RelatedArticles from "../components/RelatedArticles.astro";
import { dateFilter } from "../lib/dateFilter.js";

const { content } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const mdURL = canonicalURL.pathname.replace(/\/$/, ".md");

const articleDate = new Date(content.date);
const isoDate = articleDate.toISOString();
---

<BaseLayout
  title={content.metaTitle}
  description={content.metaDesc}
  image={content.ogImage ?? content.image}
  post={true}
  date={isoDate}
>
  <header class="container mx-auto my-6 text-center">
    <h1
      class="inline px-2 text-3xl font-bold text-white break-words bg-purple-600 rounded-md box-decoration-clone"
      set:html={content.title}
    >
    </h1>
  </header>

  <section
    class="flex flex-col py-6 mb-6 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark dark:border-slate-700 md:pb-10"
  >
    <div class="container mx-auto">
      <div
        class="flex flex-1 py-6 mx-4 my-6 bg-indigo-50 dark:bg-slate-300 rounded-xl"
      >
        <div>
          <strong
            class="flex flex-wrap items-center font-semibold text-gray-600"
            >{dateFilter(content.date)}
          </strong>
        </div>
      </div>

      <article
        class="mx-4 prose prose-lg md:prose-xl dark:prose-invert md:mx-auto"
      >
        <slot />
        <div class="text-right">
          <a
            href=`https://github.com/msebi/my-blog/edit/master/src/pages${mdURL}`
            target="_blank"
            rel="noreferrer noopener"
            >🛠 Edit on GitHub
          </a>
        </div>
      </article>
    </div>
  </section>

  <section
    class="border-gray-200 md:bg-white md:dark:bg-dark md:-mx-4 border-top-0 md:border-t md:dark:border-slate-700 md:pt-8"
  >
    <div class="container mx-auto">
      <h2
        class="mb-2 text-sm tracking-wider text-gray-700 uppercase md:normal-case dark:text-white md:mb-0 md:text-2xl md:font-bold"
      >
        Next reads
      </h2>
    </div>
  </section>

  <section class="-mx-4 md:bg-white md:dark:bg-dark md:pt-8">
    <div class="container mx-auto">
      <RelatedArticles
        tags={content.tags}
        currentPathname={canonicalURL.pathname}
      />
    </div>
  </section>

  <section
    class="mb-10 -mx-4 bg-white border-t border-b border-gray-200 dark:bg-dark md:border-t-0 dark:border-slate-700"
  >
    <div
      class="container flex col-span-1 px-4 py-4 mx-auto md:px-0 md:col-span-2"
    >
      <nav class="mb-2" aria-label="Tag">
        <h3 class="mb-4 text-xl font-medium leading-6 dark:text-white">
          Read more
        </h3>
        <ul class="flex">
          {content.tags.map((tag: string) => <Tag tag={tag} />)}
        </ul>
      </nav>
    </div>
  </section>
</BaseLayout>
